body{
  min-height:100vh;
  display:grid;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}
p
{
  text-align: center;
}
.card-text1{
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
}
.card-text2{
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  color: #A2B5BB;
}

  .qr{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
.card-img-top{
  border-radius:20px;
  max-width:100%
 

}
  .attribution {
    font-size: 11px;
    padding: 10px;
    margin: 20px 0;
    text-align: center; }

  .attribution a {
     color: hsl(228, 45%, 44%);
   }
